---
---

@import "{{ site.theme }}";

table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

code.highlighter-rouge {
  word-break: break-word;
  display: inline-block;
}

li {
  word-break: break-word;
}

p {
  word-break: break-word;
}